<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="sirius-kit" sequenceNumber="1655366405">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="fr.obeo.acceleo.feature.group" version="2.8.0.201102021515"/>
      <unit id="fr.obeo.acceleo.ui.feature.group" version="2.8.0.201102021515"/>
      <repository id="Acceleo-2.8" location="https://pcdavid.net/acceleo-2.8.0-repo/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.sdk.feature.group" version="0.0.0"/>
      <repository id="Acceleo-3.7" location="https://download.eclipse.org/acceleo/updates/releases/3.7/R202211151354/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.swtbot.ide.feature.group" version="3.1.0.202106041005"/>
      <repository id="SWTBot-3_1" location="https://download.eclipse.org/technology/swtbot/releases/3.1.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cbi.targetplatform-feature.feature.group" version="3.0.0.202005061025"/>
      <repository id="TP-DSL" location="https://download.eclipse.org/cbi/tpd/3.0.0-SNAPSHOT/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="net.sf.eclipsecs.feature.group" version="10.4.0.202211151918"/>
      <repository id="Eclipse-CheckStyle" location="https://checkstyle.org/eclipse-cs-update-site/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.github.spotbugs.plugin.eclipse.feature.group" version="0.0.0"/>
      <repository id="SpotBugs" location="https://spotbugs.github.io/eclipse/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.sonarlint.eclipse.feature.feature.group" version="0.0.0"/>
      <repository id="SonarLint" location="https://eclipse-uc.sonarlint.org/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.wikitext.editors_feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcptt.platform.feature.group" version="0.0.0"/>
      <repository id="Eclipse-2022-12" location="https://download.eclipse.org/releases/2022-12"/>
    </location>
  </locations>
</target>
